@model Cart
@{
    ViewData["Title"] = "Twój koszyk";
}
<h1>Twój koszyk</h1>

@foreach (var book in Model)
{
    <div class="book-item">
        <div class="book-info">
            <h3 class="book-title">@book.tytul</h3>
            <p class="book-author">@book.autor</p>
        </div>
        <div class="book-action">
            <span class="book-price">@book.cena.ToString("C")</span>
            <form asp-action="Delete" asp-controller="Books" method="post">
                <input type="hidden" name="id" value="@book.id" />
                <button type="submit" class="delete-button">Usuń</button>
            </form>
        </div>
    </div>
}
